    *{
  font-family: "Rockwell", serif;

}



#stuff, footer {
  background-color: #323232;
}

#footer{
  color: white;
  text-align: center;
}

#home {
   padding-top:50px;
   height:500px;
 background-image: url("https://image.freepik.com/free-photo/working-with-a-coffee_1112-145.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  

}

#hometitle {
  color: white;
  text-align: center;
  font-size: 100px;
  text-shadow: 4px 2px #000;
   
}
 #description{
  margin-top: -30px;
  color: white;
  text-align: center;
  font-size: 50px;
  text-shadow: 4px 2px #000;
}
hr { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  width: 60%;
  
} 
hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
} 

#aboutme,  #portfolio {
  color: black;
  text-align: center;
}

 #about {
   padding-top:50px;
   height:500px;
   background-color: #e5e5e5;
}



.img-responsive{
  width: 200px;
  border: 5px solid #021a40;
   display: block;
    margin: 0 auto;
}

#contact {
  text-align: center;
  background-image: url("http://il3.picdn.net/shutterstock/videos/11425637/thumb/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
 }

.btn-li{
  background-color: #0082CA;
}

.btn {
    font-size: 20px;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
    color: #fff!important;
    margin: 6px;
    white-space: normal!important;
    word-wrap: break-word;
}

.btn-git {
    background-color: #4183C4;
}

.btn-email {
    background-color: #4B515D;
}

button {
	display: inline-block;
}